@{
    ViewBag.Title = ViewBag.Message;
}
<style>
    img {
        display: block;
        margin: 0 auto;
    }
</style>
<h2 style="text-align: center">Error: @ViewBag.Message</h2>
<img src="https://i.ytimg.com/vi/GcosCR3oHBk/hqdefault.jpg" alt="@ViewBag.Message" >
